In [9]:
my_list=[1,2,3,"apple",4.5]
for item in my_list:
    print(item)

1
2
3
apple
4.5

In [10]:
for Index , item in enumerate(my_list):
    print(f"Index:{Index} value:{item}")

Index:0 value:1
Index:1 value:2
Index:2 value:3
Index:3 value:apple
Index:4 value:4.5

In [11]:
"apple" in my_list

True

In [5]:
list1=[1,2,3]
list2=["a","b"]

In [6]:
list1+list2

[1, 2, 3, 'a', 'b']

In [7]:
list1*2

[1, 2, 3, 1, 2, 3]

In [12]:
[0]*10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [21]:
my_list=[1,2,3]

In [22]:
my_list.append(4)
my_list

[1, 2, 3, 4]

In [25]:
my_list.insert(-1,8)
my_list

[5, 1, 2, 3, 5, 8, 4]

In [27]:
my_list.insert(1,[1,2,3])
my_list

[5, [1, 2, 3], 1, 2, 3, 5, 8, 4]

In [28]:
my_list(len(my_list),45)
my_list

TypeError: 'list' object is not callable

In [42]:
my_list=[1,2,3]

In [43]:
my_list.extend([5,6,"abd"])
my_list

[1, 2, 3, 5, 6, 'abd']

In [44]:
my_list.remove("abd")
my_list

[1, 2, 3, 5, 6]

In [45]:
my_list.pop(2)

3

In [46]:
my_list

[1, 2, 5, 6]

In [55]:
my_list=[1,2,3,4.5]

In [58]:
#my_list.index(2)
#my_list.count(3)
#my_list.sort()
my_list.reverse()
my_list.copy()
my_list.clear()

In [59]:
my_list

[4.5, 3, 2, 1]

In [61]:
squares=[x**2 for x in range (1,6)]
squares

[1, 4, 9, 16, 25]

In [62]:
evens=[x for x in range(1,11) if x%2==0]
evens

[2, 4, 6, 8, 10]

In [ ]:
result=[]
for x in range(1,11):
    if x%2==0:
        result.append(x)
result

[2, 4, 6, 8, 10]

In [6]:
my_tuple=(1,2,3,"apple",4.5,True,(5,6))

In [7]:
my_tuple[0]

1

In [9]:
#my_tuple.index(3)
my_tuple.count(3)

1

In [10]:
my_dict={"name":"Alice","age":25,4:["a","b"]}

In [13]:
my_dict["name"]

'Alice'

In [14]:
my_dict["salary"]=400

In [15]:
my_dict

{'name': 'Alice', 'age': 25, 4: ['a', 'b'], 'salary': 400}

In [22]:
del my_dict["age"]
print(my_dict)

{'name': 'Alice', 4: ['a', 'b']}

In [1]:
my_set={1,2,3,2,4,4,5,5}
print(my_set)

{1, 2, 3, 4, 5}